*{
    margin: 0;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body {

}  
.wraper {
    width: 100vw;
    height: 600vh;
    overflow-x: hidden;


}
.sections {
    transform: translateZ(-1px) scale(2);
}
.deep {
    transform: translateZ(-2px) scale(3);
    background: url(portugal_location_map.svg);
    background-repeat: no-repeat;
    background-size:  auto;
}
